@model IEnumerable<VanPhongPhamOnline.ViewModels.HangHoaVM>

<!-- Part of Product Item -->
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH">
                    <img class="img-fluid w-100" style="height:250px; object-fit:cover;" src="@Url.Content("~/Hinh/HangHoa/" + item.Hinh)" alt="@item.TenHH">
                </a>
                <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHH"><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="text-center py-4">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH" class="h6 text-decoration-none text-truncate">@item.TenHH</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>@item.DonGia</h5><h6 class="text-muted ml-2"><del>@item.DonGia</del></h6>
                </div>
                @* <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small class="far fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                </div> *@
            </div>
        </div>
    </div>
}
<!-- End Part of Product Item -->